* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.d-flex {
    display: flex;
}

.text-red {
    color: #ff0000;
    font-weight: 600;
}

.text-strong {
    font-weight: 600;
}





/* HEADER */
header {
    margin-bottom: 60px;
}

header .top-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ff6900;
    box-shadow: 0 4px 2px 0px gray;
    z-index: 2;
}

header .topbar {
    width: 100%;
    height: 60px;
}

header .topbar .menu {
    width: 20%;
    align-items: center;
    justify-content: flex-start;
}


/* menu */
header .topbar .menu ul {
    list-style: none;
}

header .topbar .menu ul li {
    display: inline-block;
}

header .topbar .menu ul li a {
    text-decoration: none;
    align-items: center;
    padding-right: 5px;
    color: white;
}

/* /menu */


/* logo */
header .topbar .logo {
    align-items: center;
    width: 60%;
    background-image: url('../img/boolean-logo.png');
    background-size: contain;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}

/* /logo */

/* menu-account */
header .topbar .menu-account {
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

header .topbar .menu-account p {
    padding-left: 10px;
}

header .topbar .menu-account p i {
    cursor: pointer;
}

/* menu-account */
/* /HEADER */




/* MAIN */
main {
    padding-bottom: 50px;
}

/* card */
main .card {
    width: 33%;
    min-width: 200px;
    display: inline-block;
    margin-top: 50px;
    position: relative;
    font-size: 12px;
    padding: 5px;
}

/* immagine */
main .card img {
    width: 100%;
    cursor: pointer;
}

/* cambio immagine */
main .card .img .first {
    display: block;
}

main .card .img .second {
    display: none;
}

main .card .img:hover .first {
    display: none;
}

main .card .img:hover .second {
    display: block;
}

/* heart */
main .card .heart {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    position: absolute;
    top: 2%;
    right: 0;
    cursor: pointer;
}

main .card .heart:hover {
   color: red;
}

/* discount */
main .card .discount {
    background-color: #ff0000;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    left: 5px;
    bottom: 15%;
    font-weight: 600;
    color: white;
}

main .card .trademark, .price, .price-discount {
    font-size: 10px;
    padding-top: 5px;
}

/* sustain */
main .card .sustain {
    display: inline-block;
    padding: 5px 10px;
    background-color: #008000;
    position: absolute;
    left: 14%;
    bottom: 15%;
    font-weight: 600;
    color: white;
}

#sus-only {
    position: absolute;
    left: 5px;
}

/* price */
main .card .price {
    text-decoration: line-through;
}

/* /card */
/* /MAIN */




/* *FOOTER */
footer {
    color: white;
    background-color: black;
}

/* Sign up */
footer .row {
    width: 100%;
    height: 80px;
    /* background-color: #000; */
    justify-content: center;
    align-items: flex-end;
}

footer .row .info {
    width: 1200px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

footer .info .property {
    height: 40px;
    justify-content: center;
    align-items: center;
}

footer .info .property ul {
list-style: none;
}

footer .info .property ul li {
    display: inline-block;
    }

footer .info .property ul li a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 10px;
    }

footer .info .social {
    height: 40px;
    justify-content: center;
    align-items: center;
}

footer .info .social p{
font-size: 10px;
text-align: center;
}

footer .info .social ul {
    list-style: none;
}

footer .info .social ul li{
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}

footer .info .social ul li i{
    cursor: pointer;
}
/* /FOOTER */